<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      li span {
        font-size: 30px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h2>天气查查查--{{city}}</h2>
      <input type="text" @keyup.enter="search" v-model.trim="city" placeholder="请输入查询的城市" />
      <ul>
        <li v-for="it in weatherList">
          {{it.data}}-{{it.high}}-{{it.low}}-{{it.fengxiang}}-{{it.type}}
          <span v-if="it.type.indexOf('云')!=-1">丷</span>
          <span v-else-if="it.type.indexOf('雨')!=-1">彳</span>
          <span v-else-if="it.type.indexOf('雪')!=-1">亍</span>
          <span v-else></span>
        </li>
      </ul>
    </div>
  </body>
</html>
<!-- 开发环境版本，包含了有帮助的命令行警告 jquery.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- jQuery -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>
  let app =new Vue({
    el:'#app',
    data:{
      city:'',
      weatherList:[]
    },
    methods:{
      search(){
        $.ajax({
          url:'http://wthrcdn.etouch.cn/weather_mini?city='+this.city,
          dataType:'json',
          success:backData=>{
            this.weatherList=backData.data.forecast
          }
        })
      }
    }
  })
</script>
